{% extends "../test_case_base.html" %}

{%block test_case_base%}
<div id="navbar">
    <ul class="nav nav-pills">

        <li class="nav-item">
            <a class="nav-link " aria-current="page" href="{% url 'test_case_index' test_case_id=test_case_id %}">Test case</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="{% url 'argument_set_index'  test_case_id=test_case_id %}">Argument Sets</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'test_run_index' test_case_id=test_case_id %}">Test runs</a>
        </li>
    </ul>
</div>

<form action="{% if arg_set_id %} {%url 'argument_set_edit' test_case_id arg_set_id %} {% else %} {% url 'argument_set_add' test_case_id %} {% endif %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.as_p}}
<button type="submit">Save</button>
</form>

{%endblock%}