{% extends "../base.html" %}

{%block body%}

<p>
  <a href="{% url 'environment_add' %}" class="btn btn-primary btn-sm" tabindex="-1" role="button">Add</a>
</p>


<table class="table">
  <thead class="table-light">
  <th>id</th>
  <th>name</th>
  <th>content</th>
  <th></th>
  </thead>
  <tbody>
{%for environment in environments %}
    <tr>
        <td>{{environment.id}}</td>
        <td>{{environment.name}}</td>
        <td><textarea cols="20" rows="5" readonly="readonly">{{environment.get_content_from_file}}</textarea></td>
        <td><p>
  <a href="{% url 'environment_edit' environment_id=environment.id %}" class="btn btn-primary btn-sm" tabindex="-1" role="button">Edit</a>
  <a href="#"  class="btn btn-primary btn-sm" tabindex="-1" role="button">Delete</a>
</p>
</td>
    </tr>
{%endfor%}
</tbody>
</table>
{%endblock%}