{% extends "../base.html" %}

{%block body%}
{% load mptt_tags %}

<div class="treeview">
{% for keyword_group, structure in keyword_groups|tree_info %}
    {% if structure.new_level %}<ul><li>{% else %}</li><li>{% endif %}
    <div>
    <p>
        <a href="#" class="sc" onclick="return UnHide(this)">&#9660;</a>
        <a href="#">{{ keyword_group }}</a>
    </p>
    </div>
    <ul>
        {% for keyword in keywords %}
            {% if keyword.keyword_group == keyword_group %}
                <li><div><p>
                    <a href="{%url 'keyword_index' keyword_id=keyword.id %}">{{keyword}}</a>
                </p></div><li>
            {% endif %}
        {% endfor %}
    </ul>
    {% for level in structure.closed_levels %}</li></ul>{% endfor %}
{% endfor %}
</div>

{%endblock%}
